﻿.base-scrollview {
	background-color: #fff;
}

.base-container {
	margin-top: 24;
	margin-left: 16;
	margin-bottom: 24;
	margin-right: 16;
}

.base-header {
	margin-bottom: 16;
	font-size: 24;
	font-style: bold;
}

.base-subheader {
	margin-bottom: 8;
	font-size: 18;
	font-style: bold;
}

.image-holder {
	margin-top: 4;
	margin-bottom: 12;
}

.base-paragraph {
	margin-bottom: 16;
}

.base-paragraph label {
	margin-bottom: 8;
	line-height: 1.2;
}

.table-header {
	background-color: #eee;
	border-color: #d6d6d6;
}

.table-body {
	background-color: #fff;
	border-color: #d6d6d6;
}


.code-block {
	padding: 8;
	background: #eee;
	border-color: #d6d6d6;
}

.container {
	margin: 24 16;
}


.label-header {
	font-size: 20;
	font-style: bold;
	margin: 8 0;
}

.font-bold {
	font-style: bold;
}

.font-italic {
	font-style: italic;
}

.grid-head {
	background-color: #ddd;
	padding: 14 16;
	text-align: center;
}

.grid-head label {
	font-size: 16;
	font-style: bold;
	text-align: center;
}

.grid-number {
	font-size: 14;
	text-align: center;
}

.normal-text {
	margin: 0 4;
}

.block-quote {
	padding: 10;
	background-color: #eee;
	border-width: 1;
	border-color: #d6d6d6;
	-ms-border-radius: 5;
	border-radius: 5;
	margin: 8 0;
}

.text-link {
	font-size: inherit;
	color: #007bff;
	text-decoration: underline;
}

.images {
	margin: 4 0;
}

.code-break {
	margin-bottom: 16;
}